* {
    font-family: "roboto";
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
    color: white;

    padding-left: 150px;
    padding-right: 150px;
}

.navlinks {
    display: flex;
    gap: 40px;
}

/* hero section */

.hero-section {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;

    padding-left: 150px;
    padding-right: 150px;
}

#hero-image {
    height: 350px;
    border: white 4px solid;
    border-radius: 15px;
}

.signup-button {
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: #3882f6;
    border: 0px;
    border-radius: 7px;
}

/* random information section  */

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 60px 150px 60px 150px;
}

.random-items {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.random-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-image {
    border: #cdcdcd 4px solid;
    border-radius: 15px;
    width: 200px;
}

.random-p {
    text-align: center;
}

/* quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    gap: 0px;
    padding: 60px 150px 60px 150px;
}

#quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
}

#quote-by {
    text-align: end;
}

/* call to action */

.cta {
    padding: 100px 150px 100px 150px;
}

.cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    padding: 50px 100px 50px 100px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#cta-button {
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 7px;
}

#cta-title, #cta-paragraph {
    /* margin-left: 0;
    margin-right: auto; */
    margin: 0px auto 0px 0px;
}

/* footer */

.footer {
    background-color: #1f2937;
    color: white;
    padding: 15px 0px 15px 0px;
}