* {
    font-family: "roboto";
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #1f2937;
    color: white;

    padding-left: 150px;
    padding-right: 150px;
}

.navlinks {
    display: flex;
    gap: 40px;
}

/* hero section */

.hero-section {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;

    padding-left: 150px;
    padding-right: 150px;
}

.signup-button {
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: #3882f6;
    border: 0px;
    border-radius: 7px;
}